# Set the shell
export SHELL=/bin/zsh

# Default editor
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='vim'
fi

# SSH key
export SSH_KEY_PATH="~/.ssh/id_rsa"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Add python bin to path
export PATH=$PATH:/home/zander/.local/bin

# GPG
export GPG_TTY=$(tty)
