[user]
	name = Zander Work
	email = zander@zanderwork.com
	signingkey = 62C2ADB773488EBC # ADD THE RIGHT KEY HERE

[github]
	user = zzzanderw

[core]
	excludesfile = ~/.gitignore
	editor = vim
	filemode = false
	trustctime = false

[commit]
	gpgsign = true
